parameters:
	ignoreErrors:
		-
			message: "#^Method JoliCode\\\\Elastically\\\\Index\\:\\:getClient\\(\\) should return JoliCode\\\\Elastically\\\\Client but returns Elastica\\\\Client\\.$#"
			count: 1
			path: src/Index.php
