<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" testdox="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Elastically tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="KERNEL_CLASS" value="JoliCode\Elastically\Tests\Symfony\TestKernel"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=11"/> <!-- @see https://github.com/janephp/janephp/issues/727 -->
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
