name: CI

on:
    push:
        branches: [ master ]
    pull_request:
    schedule:
        -   cron: '0 0 * * MON'

jobs:
    check-cs:
        name: Check Coding Standards
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: PHP-CS-Fixer
              uses: docker://oskarstark/php-cs-fixer-ga
              with:
                args: --config=.php-cs-fixer.php --diff --dry-run

    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout"
              uses: actions/checkout@v2

            - name: Setup PHP, with composer and extensions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.4

            - name: PHPStan
              uses: docker://oskarstark/phpstan-ga
              env:
                REQUIRE_DEV: true
              with:
                args: analyse

    ci:
        name: Test PHP ${{ matrix.php-version }} & Symfony ${{ matrix.symfony-version }} ${{ matrix.composer-flags }} & Elasticsearch ${{ matrix.es-version }}
        runs-on: ubuntu-latest
        env:
            SYMFONY_REQUIRE: ${{ matrix.symfony-version }}
        strategy:
            fail-fast: false
            matrix:
                include:
                    - php-version: 7.4
                      symfony-version: '4.4.*'
                      composer-flags: '--prefer-lowest'
                      es-version: 7.17.3
                    - php-version: 7.4
                      symfony-version: '5.4.*'
                      composer-flags: ''
                      es-version: 7.17.3
                    - php-version: '8.0'
                      symfony-version: '6.0.*'
                      composer-flags: ''
                      es-version: 7.17.3
                    - php-version: '8.1'
                      symfony-version: '6.0.*'
                      composer-flags: ''
                      es-version: 7.17.3
                    - php-version: '8.1'
                      symfony-version: '6.0.*'
                      composer-flags: ''
                      es-version: 8.2.0
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup PHP, with composer and extensions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}

            - name: Install Symfony Flex
              run: composer global require --no-progress --no-scripts --no-plugins symfony/flex

            - name: Install Composer dependencies
              run: composer update --prefer-dist --no-interaction --no-ansi ${{ matrix.composer-flags }}

            - name: Configure sysctl limits
              run: |
                sudo swapoff -a
                sudo sysctl -w vm.swappiness=1
                sudo sysctl -w fs.file-max=262144
                sudo sysctl -w vm.max_map_count=262144

            - name: Runs Elasticsearch ${{ matrix.es-version }}
              uses: elastic/elastic-github-actions/elasticsearch@master
              with:
                stack-version: ${{ matrix.es-version }}

            - name: Wait for ES to be ready
              run: |
                while ! curl -s -X GET http://127.0.0.1:9200/_cluster/health\?wait_for_status\=green\&timeout\=60s | grep -q '"status":"green"'
                do
                  echo "==> Waiting for cluster green status" && sleep 1
                done

            - name: Run Tests
              run: make test
